<container id="blog-post">

</container>
<container id="comment-container">

</container>
<form class="form blog-form d-flex flex-column">
  <div class="mb-3">
    <label for="content" class="form-label mt-5">Comment</label>
    <textarea class="form-control" id="content" rows="5"></textarea>
  </div>

  <div class="form-group d-flex justify-content-end">
    <button class="btn btn-primary mt-2" type="submit">Submit</button>
  </div>
</form>

<script src="/assets/scripts/addComment.js"></script>